.ui.inverted.black.segment {
    background-color: rgb(51, 51, 51) !important;
    color: rgb(255, 255, 255) !important;
}

.ui.page.grid {
    padding-left: 5% !important;
    padding-right: 5% !important;
}



.ui.inverted.blue.button, .ui.inverted.red.buttons .button {
    background-color: transparent;
    box-shadow: 0 0 0 2px #5F9EA0 inset !important;
    color: #5F9EA0 !important;
}

.ui.inverted.blue.button:focus, .ui.inverted.red.buttons .button:focus {
    background-color: #5F9EA0 !important;
    color: #fff !important;
}

.ui.inverted.blue.button:hover, .ui.inverted.red.buttons .button:hover {
    background-color: #5F9EA0 !important;
    color: #fff !important;
}

.ui.inverted.segment, .ui.primary.inverted.segment {
    background: #FF7F50;
    color: rgba(255,255,255,.9);
}

ui.blue.button {

}

.ui.blue.button, .ui.blue.buttons .button {
    background-color: #009c95 !important;
    color: #fff;
    text-shadow: none;
    background-image: none;
}

.ui.positive.button:hover, .ui.positive.buttons .button:hover {
    background-color: #00837d;
    color: #FFF;
    text-shadow: none;
}

.ui.blue.positive.button:hover, .ui.blue.buttons .positive.button:hover {
    background-color: #00837d !important;
    color: #FFF !important;
    text-shadow: none !important;
}

.ui.blue.positive.button:focus, .ui.blue.buttons .positive.button:focus {
    background-color: #00837d !important;
    color: #FFF !important;
    text-shadow: none !important;
}

.ui.blue.positive.button:active, .ui.blue.buttons .positive.button:active {
    background-color: #00837d !important;
    color: #FFF !important;
    text-shadow: none !important;
}

.ui.red.button, .ui.red.buttons .button {
    box-shadow: 0 0 0 2px #FF7F50 inset !important;
    background-color: #FF7F50 !important;
    color: #fff;
}

.ui.red.button:focus, .ui.red.buttons .button:focus {
    background-color: #ff4f0f !important;
    color: #fff !important;
}

.ui.red.button:hover, .ui.red.buttons .button:hover {
    background-color: #ff4f0f !important;
    color: #fff !important;
}

.ui.inverted.black.segment {
    background-color: #333 !important;
    color: #FFF!important;
}




/*

*/