<navbar></navbar>
<div class="ui container" style="padding-left: 20px; padding-right: 20px; min-height: 80vh;">
    <div class="ui grid" style="min-height: initial;">
        <div class="sixteen wide column">
            <div class="ui fluid action input">
              <input type="text" placeholder="Search..." ng-model="queryEmail">
              <div class="ui button" ng-click="getUsers()">Search</div>
            </div>
            <table class="ui olive table">
              <thead>
                <tr><th>Email</th>
                <th>Created On</th>
              </tr></thead><tbody>
                <tr ng-repeat="user in users" ng-if="users != 0">
                  <td>{{user.email}}</td>
                  <td>{{user.createdOn}}</td>
                </tr>
                <tr ng-if="users == 0">
                  <td>No results</td>
                  <td></td>
                </tr>
              </tbody>
            </table>
        </div>
    </div>

</div>
<footer></footer>