<div class="ui form">
    <div class="fields">
        <div class="field">
            <label> a. test1</label>
            <input class="text" ng-model="a.test1" />
        </div>
        <div class="field">
            <label> a. test2</label>
            <input class="text" ng-model="a.test2" />
        </div>
        <div class="field">
            <label> b. test1</label>
            <input class="text" ng-model="b.test1" />
        </div>
        <div class="field">
            <label> b. test2</label>
            <input class="text" ng-model="b.test2" />
        </div>
        <div class="field">
            <label> c. test1</label>
            <input class="text" ng-model="c.test1" />
        </div>
        <div class="field">
            <label> c. test2</label>
            <input class="text" ng-model="c.test2" />
        </div>
        <div class="field">
            <button class="ui green button railway" type="button" ng-csv="getArray()" filename="test.csv">Export</button>
        </div>
    </div>
</div>


