<div class="ui form" style="padding-top: 20px;" ng-model="ngModel">
      <h4 class="ui dividing header">Basic Info & Goals</h4>
      <div class="three fields">
        <div class="field">
          <label>First name</label>
          <input type="text" placeholder="First Name" ng-model="basicData.firstName">
        </div>
        <div class="field">
          <label>Last name</label>
          <input type="text" placeholder="Last Name" ng-model="basicData.lastName">
        </div>
        <div class="field">
            <label>Gender</label>
            <select class="select" ng-model="basicData.Gender">
                <option value="Male">Male</option>
                <option value="Female">Female</option>
            </select>
        </div>
      </div>
        
      <div class="four fields">
        <div class="field">
          <label>Address 1</label>
          <input type="text" placeholder="Address 1" ng-model="basicData.Address1">
        </div>
        <div class="field">
          <label>Address 2</label>
          <input type="text" placeholder="Apt or suit number" ng-model="basicData.Address2">
        </div>
        <div class="field">
          <label>City</label>
          <input type="text" placeholder="City" ng-model="basicData.City">
        </div>
        <div class="field">
          <label>State</label>
          <select class="select" ng-model="basicData.State" value="{{basicData.State}}">
            <option  ng-repeat="state in states" value="{{state.abbreviation}}">{{state.name}}</option>  
          </select>
        </div>         
      </div>
        
      <div class="two fields">
          <div class="field">
              <label>Which industry are you interested in? </label>
              <select class="select" ng-model="basicData.interestedIndustry" value="{{basicData.interestedIndustry}}">
                <option value="sales-entry-level">Sales Entry Level</option>
                <option value="sales-advanced">Sales Advanced</option>
                <option value="sales-management">Sales Management</option>
                <option value="sales-operations">Sales Operations</option>
                <option value="business-analytics">Business Analytics</option>
                <option value="marketing">Marketing</option>
                <option value="product-management">Product Management</option>
              </select>
          </div>
          <div class="field">
              <label>Would you move for the right career?</label>
              <select class="select" ng-model="basicData.willingToMove" value="{{basicData.willingToMove}}">
                <option value="Yes">Yes</option>
                <option value="No">No</option>
              </select>
          </div>   
        </div>
        
      <div class="two fields">
          <div class="field">
              <label>What salary range are you looking for?</label>
              <select class="select" ng-model="basicData.salaryRange">
                <option value="below-forty">Below $40,000</option>
                <option value="forty-seventy">$40,000 - $70,000</option>
                <option value="seventy-hundred">$70,000 - $100,000</option>
                <option value="above-hundred">Above $100,000</option>
              </select>
          </div> 
          <div class="field">
              <label>What are your career goals?</label>
              <input type="checkbox" class="checkbox" ng-model="basicData.basicInfoCareerGoal1"> 1 </input>
              <input type="checkbox" class="checkbox" ng-model="basicData.basicInfoCareerGoal2"> 2 </input>
              <input type="checkbox" class="checkbox" ng-model="basicData.basicInfoCareerGoal3"> 3 </input>
              <input type="checkbox" class="checkbox" ng-model="basicData.basicInfoCareerGoal4"> 4 </input>
          </div> 
      </div>

      <div class="two fields">
          <div class="field">
              <label>What are you looking for in the next step of your career?</label>
              <textarea id="QD-textarea"  ng-model="basicData.nextCareerStep"></textarea>
          </div>
          <div class="field">
              <label>Why are you interested in AlwaysHired?</label>
              <textarea id="QD-textarea"  ng-model="basicData.whyAlwaysHired"></textarea>
          </div>
      </div>

      
        <button class="ui blue button" type="submit" ng-click="submitBasicData('continue')" style="float: right;">SAVE & CONTINUE</button>
        <button class="ui green button" type="submit" ng-click="submitBasicData('close')" style="float: right;">SAVE & CLOSE</button>
    </div>