<navbar></navbar>
<div class="ui middle aligned center aligned grid" style="min-height: 80vh;">
    <div class="seven wide column">
        <a href="/" style="font-family: 'Raleway', sans-serif;" class="ui header">
            ALWAYSHIRED
        </a>

        <h2  style="font-family: 'Raleway', sans-serif;" class="ui header">
            Jumpstart your career
        </h2>

        <form class="ui large form">
          <div class="ui stacked segment">
             <div class="field">
                <div class="ui left icon input">
                   <i class="user icon"></i>
                   <input type="text" name="email" title="Email" placeholder="Email Address" ng-model="useremail">
                </div>
             </div>
             <div class="field">
                <div class="ui left icon input">
                   <i class="user icon"></i>
                   <input type="text" name="firstname" title="First Name" placeholder="First Name" ng-model="firstname" >
                </div>
             </div>
             <div class="field">
                <div class="ui left icon input">
                   <i class="user icon"></i>
                   <input type="text" name="lastname" title="Last Name" placeholder="Last Name" ng-model="lastname">
                </div>
             </div>
             <div class="field">
                <div class="ui left icon input">
                   <i class="lock icon"></i>
                   <input type="password" name="password" title="Password" placeholder="Password" ng-model="userpassword">
                </div>
             </div>
             <div class="field">
                <div class="ui left icon input">
                   <i class="lock icon"></i>
                   <input type="password" name="confirmpassword" title="Confirm Password" placeholder="Confirm Password" ng-model="userconfirmpassword">
                </div>
             </div>
              <button class="ui fluid large teal button" value="Continue" ng-click="register()">Continue</button>
          </div>
          <div class="ui error message">
             <div class="ui error message">
                <i class="close icon"></i>
                <div class="header">
                   There was some errors with your submission
                </div>
                <ul class="list" ng-repeat="fe in formerror track by $index">
                   <li>{{fe}}</li>
                </ul>
             </div>
          </div>


       </form>

        <div class="ui positive message" style="display: none;">
          <i class="close icon"></i>
          <div class="header">
            Success
          </div>
          <p>Login successful, redirecting to dashboard.</p>
        </div>
    </div>
</div>


<footer></footer>
