<navbar></navbar>
<div class="ui body grid">
    <div class="row">
            <div class="one wide column">
        
            </div>

            <div class="eleven wide column">
<!--
                <div class="ui information container">
                        <h1 class="ui center aligned header railway" style="color: #FF7F50">ALWAYSHIRED</h1>
                </div>
                
                <div class="ui container" style="background-color: white;">
                    <h1 class="header railway" style="color: black;">Let's get you a job.</h1>
                </div>
-->
                <form class="ui landing form" style="">
                  <div class="field">
                        <h3 class="ui left aligned header railway headerFix" style="color: #FF7F50;">ALWAYSHIRED</h1>
                  </div>
                  <div class="field" id="belowTitle" style="margin-top: 75px;">
                        <h1 class="ui left aligned header railway headerFix" style="color: white;">Let's find you a job.</h3>
                  </div>
                  <div class="field" style="">
                        <h1 class="ui left aligned header railway headerFix" style="color: white;">Tech Sales Bootcamp</h3>
                  </div>
                  <div class="field" style="margin-top: 20px;">
                        <h2 class="belowHeader railway" style="color: #FF7F50; font-weight: 100;">People who take our training course get jobs making $70k+ within 30 days</h4>
                      
                      
                  </div>
                    
                  <div class="field">
                        <div class="ui landing divider" style="width: 100% !important; max-width: 500px; !important"></div>
                        <h4 class="railway" style="color: white; font-weight: 100;">Sign up here to get invited to our beta</h4>
                  </div>
                    
                  <div class="fields" style="max-width: 500px; !important">
                    <div class="twelve wide field">
                        <input style="width: 100%;" type="text" class="text" ng-model="betaEmail" placeholder="email@address.com" />
                    </div>
                    <div class="four wide field">
                        <button  style="width: 100%;" class="ui blue button railway" ng-click="addEmailBetaList()">SUBMIT</button>
                    </div>
                  </div>
                </form>

            </div>

            <div class="four wide column">

            </div>
    </div>
</div>





<!--<footer></footer>-->
