        <div class="ui top inverted fixed menu" style="background-color: rgb(25, 164, 166); float:left; width: 100%; position: relative;">
            <a id="sidebar-trigger" class="borderless item" style="width:50px">
                <i class="sidebar icon"></i>
            </a>
            <div class="right menu" style="margin:0 auto;padding:0;position:relative">
                <div class="ui header borderless item" style="font-weight:normal; text-transform: none !important;">
                    <img class="ui mini image" src="../../assets/images/ah_logo.png" style="height:20px;width:20px" />
                    Odemy
                </div>
            </div>
            <div class="right menu">
                <a id="logout-button" class="borderless item logout">
                    <i class="power icon"></i>
                </a>
            </div>
        </div>