<div class="" style="width:100%; height: 5px; background-color: green;"></div>
<div class="ui top fixed menu" style="float:left; width: 100%; position: relative;">
   <div class="" style="width:0%; height: 5px; background-color: green;"></div>
   <a id="sidebar-trigger" class="borderless item" style="width:50px">
   <i class="sidebar icon"></i>
   </a>
   <div class="right menu" style="margin:0 auto;padding:0;position:relative">
      <div class="ui header borderless item" style="font-weight:normal; text-transform: none !important;">
         <img class="ui mini image" src="../../assets/images/ah_logo.png" style="height:20px;width:20px" />
         Odemy
      </div>
   </div>
   <div class="right menu">
      <div class="borderless item logout">
          <a class="browse item">
            Browse
            <i class="dropdown icon"></i>
          </a>
         <div class="ui fluid popup bottom left transition hidden" style="top: 354px; left: 1px; bottom: auto; right: auto; width: 755px;">
            <div class="ui one column relaxed divided grid" style="min-height: 100px !important;">
               <div class="column">
                  <h4 class="ui header">Fabrics</h4>
                  <div class="ui link list">
                     <a class="item">Cashmere</a>
                     <a class="item">Linen</a>
                     <a class="item">Cotton</a>
                     <a class="item">Viscose</a>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
