<div class="ui container" style="padding-left: 20px; padding-right: 20px; min-height: 80vh; overflow: hidden;">
    <div class="sixteen wide grid" style="min-height: 100px; padding-bottom: ">
        <div class="column">
            <div class="ui steps" style="width: 100%;">
                <a class="{{isBasicInfo}} step" ng-click="goTo('basic-info')">
                    <div class="content">
                        <div class="title" id="basicInfoStep">Basic Info</div>
                        <div class="description"></div>
                    </div>
                </a>
                <a class="{{isEducation}} step" ng-click="goTo('education')">
                    <div class="content">
                        <div class="title" id="educationStep">Education</div>
                        <div class="description"></div>
                    </div>
                </a>
                <a class="{{isWorkExperience}} step" ng-click="goTo('work-experience')">
                    <div class="content">
                        <div class="title" id="workLocationStep">Work Experience</div>
                        <div class="description"></div>
                    </div>
                </a>
                <a class="{{isConnections}} step" ng-click="goTo('connections')">
                    <div class="content">
                        <div class="title">Connections</div>
                        <div class="description"></div>
                    </div>
                </a>
            </div>
            <div class="ui indicating small progress" id="profileProgress">
              <div class="bar"></div>
              <div class="label">{{progress}}% complete!</div>
            </div>
        </div>
        
    </div>
    
    <test-directive></test-directive>
    <div ng-if="isBasicInfo == 'active'">
        <basic-info-tab ></basic-info-tab>
    </div>
    
    <div ng-if="isEducation == 'active'">
        <education-tab ></education-tab>
    </div>
    
    <div ng-if="isConnections == 'active'">
        <connections-tab ></connections-tab>
    </div>
    
    <div ng-if="isWorkExperience == 'active'">
        <work-history-tab ></work-history-tab>
    </div>
</div>

<footer></footer>